.main-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;                         
    width: 100vw;
    position: relative;   
    display: flex;
    justify-content: center;     
    align-items: center;
}

.message-container {
    background-color: rgba(228, 228, 228, 0.7); /* Semi-transparent black */
    color: rgb(0, 0, 0);
    height: auto;                         
    width: 40vw;
    padding: 20px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2{
    margin-top: -15px;
}

.first-line{
    margin-top: 40px;
}

button {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 12px;
}
